{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-6">
       <b> {{d.title}} </b>
        <br>
        {{d.description}}
        <br>
        ₹ {{d.price}}
        <br>
    </div>
    <div class="col-md-6">
        <img src="{{d.image.url}}" width="400" height="400">
    </div>
</div>
<form action="{% url 'Ecomapp:detail' d.id d.slug %}" method="post">
    {% csrf_token %}
    {{ f }}
    <input style="background-color: goldenrod;" type="submit" value="Add to Cart">
</form>
{% endblock %}